<div class="card border-primary mb-3" >
  <div class="card-header">Header</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
<table class="table table-table-bordered table-table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>apellido</th>
      <th>email</th>
      <th>fecha</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
          <td>{{cliente.createAt}}</td>
          </tr>
          </tbody>
          </table>






  </div>
  </div>
